:root {
    --background-color: rgb(255 255 255 / 0.7);
}

a,
a:hover {
    color: rgb(0 0 0);
}

.body-content {
    margin-top: 36px;
}

.body-content,
.body-header {
    margin-inline: auto;
    max-width: 1024px;
    text-align: justify;
}

.body-header-background {
    backdrop-filter: blur(20px) saturate(180%);
    background-color: var(--background-color);
}

.footer {
    background-color: var(--background-color);
}

@media(prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(33 37 41 / 0.7);
    }

    a,
    a:hover {
        filter: invert();
    }
}
