* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
}

body {
	background: #fff;
	color: #000;
	font-family: Helvetica, Arial;
	text-align: center;
}

footer {
	font-size: 12px;
	color: #8a8a8a;
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 8px;
	margin-bottom: 8px;
}

h1 {
	padding-top: 60px;
	padding-bottom: 20px;
}

h2 {
	margin-top: -26px;
	font-weight: lighter;
}

header {
	background-color: #ddd;
}

header a {
	text-decoration: none;
}

header .site-name {
	font-size: 4em;
	font-weight: bold;
}

header .wrapper {
	text-align: center;
}

nav {
	margin-top: 20px;
}

nav li a.selected {
	color: #fff;
	background-color: #343434;
}

nav li {
	display: inline-block;
	margin: 0 7px;
	line-height: 1.5em;
}

nav li a {
	padding: 10px;
	border-radius: 8px;
}

p {
	font-size: 1.2em;
	font-weight: lighter;
	text-align: justify;
}

.burakerol-image-aboutme {
	width: 25%;
}

.burakerol-image-home {
	width: 65%;
}

.content {
	margin-bottom: 40px;
}

.description {
	margin-bottom: 40px;
}

.link-image {
	background: #fff;
	height: 26px;
	min-width: 26px;
	padding: 4px;
	margin: 2px;
	border-radius: 25%;
}

.link-language {
	font-weight: bold;
	font-size: 12px;
	background: #fff;
	color: #000;
	padding: 6px;
	margin: 6px;
	border-radius: 25%;
}

.ul-content {
	margin-left: 40px;
}

.wrapper {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
	text-align: left;
}

.wrapper-burakerol {
	margin-top: 15px;
	text-align: right;
}

.wrapper-links {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.wrapper-links-leftside {
	margin-left: 6px;
	margin-top: 6px;
}

.wrapper-links-rightside {
	margin-right: 4px;
}

@media(prefers-color-scheme: dark) {
	body {
		background-color: #222;
	}

	body,
	header .site-name {
		color: #ddd;
	}

	header {
		background-color: #000;
	}
}
